body {
  font-family: Helvetica, sans-serif;
}

#new-task {
  width: 100%;
}

#new-task, ul#task-list li {
  font-size: 1.5em;
}

ul#task-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul#task-list li {

}

.button-bar {
  border-top: 1px solid gray;
}
